@import './colors';
@import './functions';

.footer{
    width: 100%;
    background-color: $black;
    height: 210px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
    @include tablet {
        height: 150px;
        top: 100%;
        transform: translateY(-100%);  
    }
    @include mobile {
        height: 150px;
        top: 100%;
        transform: translateY(-100%);  
    }
    &-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 350px;
        color: $light;
        & h3:hover, & small:hover {
            color: $yellow;
            cursor: default;
        }
        @include tablet {
            gap: 200px;
        }
        @include mobile {
            flex-direction: column;
            gap: 40px;
        }
    }
}

