@import './functions';
@import './colors';

.navbar{
    background-color: $blue;
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        position: relative;
        &-title{
            transition: all 0.3s ease;
        }
        &-title:hover{
            color: $yellow;
            cursor: pointer;
        }
        .mode-toggle{
            width: 50px;
            height: 25px;
            background-color: $light;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.4s;
            position: relative;
            &-btn{
                width: 23px;
                height: 23px;
                background-color: $black;
                border-radius: 50%;
                margin:1px 0 0 1px ;
                transition: all 0.4s;
            }
        }
        .mode-toggle.toggle{
            background-color: $black;
            .mode-toggle-btn{
                position: absolute;
                margin-left: 25px;
                background-color: $light;
            }
        }
        &-list{
            list-style: none;
            display: flex;
            align-items: center;
            margin-right: 20px;
            @include tablet {
                visibility: hidden;
            }
            &-item{
                padding: 0 15px;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            &-item:hover{
                color: $yellow;
            }
        }
    }
}