.navbar {
  background-color: #6c68f1;
  position: relative;
}

.navbar.collapse {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  height: 10rem;
}

.navbar-container-list-col {
  display: none;
  margin-left: 1.5rem;
  list-style: none;
}

.navbar-container-list-col.collapse {
  display: block;
}

.navbar-container-list-col.collapse-item {
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #24232c;
}

.navbar-container-list-col.collapse-item a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #24232c;
}

.navbar-container-list-col.collapse-item a:hover {
  color: #f5ef9f;
}

.navbar-container-list-col.collapse-item:hover {
  color: #f5ef9f;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
  position: relative;
}

.navbar-container .bar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-container .bar {
    display: inline-block;
    position: absolute;
    right: 2rem;
    cursor: pointer;
  }
}

.navbar-container-title a {
  text-decoration: none;
  color: #24232c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-container-title a:hover {
  color: #f5ef9f;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .navbar-container-title {
    font-size: 15px;
  }
}

.navbar-container .mode-toggle {
  width: 50px;
  height: 25px;
  background-color: #f7f7f7;
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}

@media screen and (max-width: 768px) {
  .navbar-container .mode-toggle {
    right: 4rem;
  }
}

.navbar-container .mode-toggle-btn {
  width: 23px;
  height: 23px;
  background-color: #24232c;
  border-radius: 50%;
  margin: 1px 0 0 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar-container .mode-toggle.toggle {
  background-color: #24232c;
}

.navbar-container .mode-toggle.toggle .mode-toggle-btn {
  position: absolute;
  margin-left: 25px;
  background-color: #f7f7f7;
}

.navbar-container-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-container-list {
    display: none;
  }
}

.navbar-container-list-item {
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #24232c;
}

.navbar-container-list-item a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #24232c;
}

.navbar-container-list-item a:hover {
  color: #f5ef9f;
}

.navbar-container-list-item:hover {
  color: #f5ef9f;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-error-text {
  color: #fb4b4e;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 479px) {
  .main-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-form-input {
  margin: 15px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 5px;
}

.main-form-btn {
  height: 2.4rem;
  margin-top: 1rem;
  padding: 0 10px;
  cursor: pointer;
  background-color: #00cc66;
  border-radius: 5px;
  border: none;
  position: relative;
}

@media screen and (max-width: 479px) {
  .main-form-btn {
    margin-top: 0;
  }
}

.main-form-btn:active {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-form-btn p {
  text-decoration: none;
  z-index: 2;
  font-weight: 600;
  position: relative;
  color: #24232c;
}

.main-form-btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  width: 0;
  background-color: #fb4b4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-form-btn:hover::before {
  width: 100%;
}

.main-card {
  background-color: #7e7e7e;
  width: 350px;
  margin-top: 40px;
  padding: 25px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 479px) {
  .main-card {
    width: 80%;
  }
}

.main-card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-card-img {
  margin: 0 auto;
  width: 60%;
}

.main-card-img img {
  width: 100%;
}

.main-card .main-list-wrapper {
  list-style: none;
}

.main-card .main-list-wrapper-item {
  margin: 5px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
}

.main-card .main-list-wrapper-item:hover {
  color: #f5ef9f;
}

.footer {
  width: 100%;
  background-color: #24232c;
  height: 210px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
  .footer {
    height: 150px;
    top: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media screen and (max-width: 479px) {
  .footer {
    height: 150px;
    top: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 350px;
  color: #f7f7f7;
}

.footer-container h3:hover, .footer-container small:hover {
  color: #f5ef9f;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .footer-container {
    gap: 200px;
  }
}

@media screen and (max-width: 479px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.contact p {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
}

.contact p:hover {
  color: #8a0eef;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.about-text {
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
}

.about-text:hover {
  color: #00cc66;
}

.error-msg, .first-text {
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  .error-msg, .first-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .error-msg, .first-text {
    margin-top: 80px;
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.App {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .App {
    height: 60vh;
  }
}

@media screen and (max-width: 479px) {
  .App {
    height: 100;
  }
}

.App.night {
  background-color: #3b3a3a;
  color: white;
}
/*# sourceMappingURL=styles.css.map */